# Remote volumes to be used for MinIO server.
#MINIO_VOLUMES=http://minio{1...4}:9000/drive{1...12}/minio
MINIO_VOLUMES=http://localhost:9000/tmp/minio

MINIO_LICENSE=/etc/minio/minio.license
# Use if you want to run MinIO on a custom port.
MINIO_OPTS="--address=:9000 --console-address :9001 -S /etc/minio/"
# Root user for the server.
MINIO_ROOT_USER=minioadmin
# Root secret for the server.
MINIO_ROOT_PASSWORD=minioadmin

# set this for MinIO to reload entries with 'mc admin service restart'
MINIO_CONFIG_ENV_FILE=/etc/minio/minio.config


MINIO_PROMETHEUS_URL=http://minio1:9090
MINIO_PROMETHEUS_JOB_ID=local-minio 
MINIO_PROMETHEUS_AUTH_TYPE="public"

#MINIO_ERASURE_SET_DRIVE_COUNT=8
#MINIO_STORAGE_CLASS_STANDARD=EC:3
#MINIO_STORAGE_CLASS_OPTIMIZE=capacity
#MINIO_STORAGE_CLASS_INLINE_BLOCK=32KiB
#MINIO_CACHE_ENABLE=on

